/*=============================================
=            coming soon four            =
=============================================*/

/* content */
.cs-04-content {
    &__subtitle {
        font-family: $playfair-display;
        font-size: 24px;
        font-weight: 400;

        color: $green--two;

        @media #{$extra-small-mobile} {
            font-size: 20px;
        }
    }

    &__title {
        font-family: $playfair-display;
        font-size: 72px;
        font-weight: 700;
        line-height: 1.3;

        color: $green--six;

        @media #{$large-desktop} {
            font-size: 50px;
        }
        @media #{$small-desktop,
        $extra-large-mobile,
        $large-mobile} {
            font-size: 40px;
        }
        @media #{$small-mobile} {
            font-size: 30px;
        }

        @media #{$extra-small-mobile} {
            font-size: 24px;
        }
    }
}

/* countdown */
.cs-04-countdown {
    font-family: $playfair-display;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    @media #{$small-mobile} {
        margin-bottom: -30px;
    }
    .single-countdown {
        flex-basis: 100px;

        margin-right: 30px;
        @media #{$small-desktop,
        $extra-large-mobile,
        $large-mobile} {
            flex-basis: 90px;
        }

        @media #{$extra-small-mobile} {
            flex-basis: 70px;
        }

        @media #{$small-mobile} {
            margin-right: 15px;
            margin-bottom: 30px;
        }

        &:last-child {
            margin-right: 0;
        }
        &__time {
            font-size: 48px;
            font-weight: 400;

            display: block;

            margin-bottom: 15px;
            padding: 26px 0;

            color: $green--six;
            border-radius: 15px;
            background-color: $white;
            box-shadow: 0 5px 0 $green--eight;

            @media #{$small-desktop,
            $extra-large-mobile,
            $large-mobile} {
                font-size: 35px;
            }

            @media #{$small-mobile} {
                font-size: 35px;
            }

            @media #{$extra-small-mobile} {
                font-size: 25px;
            }
        }
        &__text {
            font-size: 18px;

            color: $blue--two;

            @media #{$extra-small-mobile} {
                font-size: 16px;
            }
        }
    }
}

/* subscription */
.cs-04-subscription-wrapper {
    .mc-newsletter-form {
        input[type="email"] {
            font-family: $playfair-display;
            font-size: 16px;

            width: 500px;
            max-width: 100%;
            margin-right: 5px;
            padding: 25px 30px;

            color: $blue--two;
            border: 1px solid $green--seven;
            border-radius: 10px;
            background-color: transparent;

            @media #{$small-desktop,
            $extra-large-mobile} {
                width: 300px;
                padding: 20px 30px;
            }

            @media #{$large-mobile} {
                margin-bottom: 15px;
                padding: 20px 30px;
            }
        }

        button {
            font-family: $roboto;
            font-size: 18px;
            font-weight: 700;

            padding: 25px 65px;

            color: $green--six;
            border: none;
            border-radius: 10px;
            background: none;
            background-color: $white;

            @media #{$small-desktop,
            $extra-large-mobile,
            $large-mobile} {
                font-size: 16px;

                padding: 22px 40px;
            }

            &:hover {
                background-color: $white;
            }
        }
        ::placeholder {
            opacity: 1;

/* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $blue--two;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $blue--two;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $blue--two;
        }
    }

    .mailchimp-alerts {
        font-family: $roboto;
        line-height: 1.3;

        color: $white;
        a {
            &:hover {
                color: $green--six;
            }
        }
    }
}

/* social icon*/
.cs-04-social-icons {
    & > li {
        margin-right: 20px;
        & > a {
            position: relative;

            width: 50px;
            height: 50px;

            border: 1px solid $white;
            border-radius: 50%;
            background-color: transparent;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                * {
                    transition: $transition--default;
                }
            }

            &:hover {
                background-color: $white;
                svg {
                    * {
                        fill: $green--six;
                    }
                }
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }

    @media #{$large-mobile} {
        margin-top: 15px;
    }
}

/* copyright text */
.cs-04-copyright {
    color: $white;

    @media #{$large-mobile} {
        text-align: center;
    }

    a {
        &:hover {
            color: $green--six;
        }
    }
}

/*=====  End of coming soon four  ======*/
