/*=============================================
=            coming soon two            =
=============================================*/

/* content */
.cs-02-content {
    &__subtitle {
        font-family: $oswald;
        font-size: 24px;
        font-weight: 400;

        color: $green--two;

        @media #{$extra-small-mobile} {
            font-size: 20px;
        }
    }

    &__title {
        font-family: $oswald;
        font-size: 72px;
        font-weight: 600;
        line-height: 1.3;

        color: $white;
        text-shadow: 0 2px 8px #7C90D6;
        @media #{$large-desktop} {
            font-size: 50px;
        }
        @media #{$small-desktop,
        $extra-large-mobile,
        $large-mobile} {
            font-size: 40px;
        }
        @media #{$small-mobile} {
            font-size: 30px;
        }

        @media #{$extra-small-mobile} {
            font-size: 24px;
        }
    }
}

/* countdown */
.cs-02-countdown {
    font-family: $oswald;

    display: flex;
    flex-wrap: wrap;

    text-align: center;

    @media #{$small-mobile} {
        margin-bottom: -30px;
    }
    .single-countdown {
        flex-basis: 100px;

        margin-right: 30px;
        @media #{$small-desktop,
        $extra-large-mobile,
        $large-mobile} {
            flex-basis: 90px;
        }

        @media #{$extra-small-mobile} {
            flex-basis: 70px;
        }

        @media #{$small-mobile} {
            margin-right: 15px;
            margin-bottom: 30px;
        }

        &:last-child {
            margin-right: 0;
        }
        &__time {
            font-size: 48px;
            font-weight: 500;

            display: block;

            margin-bottom: 15px;
            padding: 26px 0;

            color: $white;
            border-radius: 10px;
            background-color: rgba($white, 0.10);

            @media #{$small-desktop,
            $extra-large-mobile,
            $large-mobile} {
                font-size: 35px;
            }

            @media #{$small-mobile} {
                font-size: 35px;
            }

            @media #{$extra-small-mobile} {
                font-size: 25px;
            }
        }
        &__text {
            font-size: 20px;

            color: $white;

            @media #{$extra-small-mobile} {
                font-size: 16px;
            }
        }
    }
}


/* subscription */
.cs-02-subscription-wrapper {
    .mc-newsletter-form {
        input[type="email"] {
            font-family: $roboto;
            font-size: 16px;

            width: 500px;
            max-width: 100%;
            margin-right: 5px;
            padding: 25px 30px;

            color: $white;
            border: 1px solid $white;
            border-radius: 10px;
            background-color: transparent;

            @media #{$small-desktop,
            $extra-large-mobile} {
                width: 300px;
                padding: 20px 30px;
            }

            @media #{$large-mobile} {
                margin-bottom: 15px;
                padding: 20px 30px;
            }
        }

        button {
            font-family: $roboto;
            font-size: 18px;
            font-weight: 500;

            padding: 25px 60px;

            color: $grey--two;
            border: none;
            border-radius: 10px;
            background: none;
            background-color: $white;

            @media #{$small-desktop,
            $extra-large-mobile,
            $large-mobile} {
                font-size: 16px;

                padding: 22px 40px;
            }


            &:hover {
                background-color: $white;
            }
        }
        ::placeholder {
            opacity: 1;

/* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $white;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $white;
        }
    }

    .mailchimp-alerts {
        font-family: $roboto;
        line-height: 1.3;

        color: $white;
        a {
            &:hover {
                color: $white;
            }
        }
    }
}


/* social icon*/
.cs-02-social-icons {
    & > li {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        & > a {
            svg {
                * {
                    transition: $transition--default;
                }
            }
            &:hover {
                svg {
                    * {
                        stroke: $white;
                    }
                }
            }
        }
    }

    @media #{$large-mobile} {
        margin-bottom: 15px;
    }
}


/* copyright text */
.cs-02-copyright {
    font-family: $roboto;

    color: $white;

    @media #{$large-mobile} {
        text-align: center;
    }

    a {
        &:hover {
            color: $white;
        }
    }
}


/*=====  End of coming soon two  ======*/